*{
    margin : 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: lightblue;
}


.background{
    background: rgba(0, 0, 0, 0.7)url('../display photo.jpg');
    background-size: cover;
    background-blend-mode: soft-light;
    height: 50pc;
    margin-top: -27px;
}

.firstSection{
    height: 100vh;
}

.navbar{
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    background-color: rgb(187, 118, 71);
    height: 60px;
    width : 100%;
    display: flex;
    align-items: top;
}

.nav-list a:hover{
    text-decoration: none;
    color: purple;
    
}

.nav-list li{
    list-style: none;
    padding: 18px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: emoji;
}

.rightNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 70;
    text-align: center;
    padding: 5px 20px;
}


.logo{
    height: 250;
    width:25%;
    display: flex;
    justify-content: left;
    align-items: left;
}
.logo png{
    height: 0%;
    width: 10%;
    border: 1px solid pink;
    border-radius: 5px;
}


.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px;
    width: 86pc;
    height: 5pc;
    font-size: 2pc;
    color: #b10e95;
}

.home_content{    
    margin: 3pc 14pc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: coral;
}

.article_info{
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    width: 50pc;
    height: 10pc;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.family{
    height: 400px;
    width: 450px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.heading-contact{
    background-color: rgb(187, 118, 71);
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(187, 118, 71);
    border-radius: 4px;
    color: white;
}

 .body{
    
    background-color: lightgray;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.textbox{
    margin: 7px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;

}

.numbox{
    margin: 7px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;

}

.mailbox{
    margin: 7px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;

}

.commentbox{
    margin: 7px;
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    justify-content: space-around;
}

.send{
    
    width: 30%;
    background-color: rgb(187, 118, 71);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 7px 12pc;
    
}

.send:hover{
    background-color: rgb(88, 39, 5);
    color: #b10e95;
}

.contact{
    margin: 5px;
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
}

#contact-us{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 50px;
    color: purple;
    margin: 20px 20px;
    font-family: fangsong;
}

.container{ 
    display: block;
    justify-content: center;
    align-items: center;
    margin: 7pc 7pc;
    border: 2px solid black;

}

.edit{
    color: black;
    width: 22pc;
    height: 22px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 15px 415px;
    font-size: 20px;
}

.remember{
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: fangsong;
}

.signin{
    height: 50px;
    width: 9pc;
    margin: 2pc 32pc
}

.line{
    margin-top: 10pc;
    border:solid rgb(187, 118, 71);
}

.dropdown {
    float: left;
    overflow: hidden;
  }

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin-top: 5px;
}
  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: sienna;
}
  
.dropdown:hover .dropdown-content {
      background-color: snow;
    display: block;
}

.add{
    box-sizing: border-box;
    margin: 40px;
    display: flex;
    position: relative;
    float: right;
}

.add button{
    width: 100px;
    height: 70px;
    float: right;
    border-radius: 10px;
    background-color: rgb(187, 118, 71);
    color: white;
    font-size: 20px;
    font-family: emoji;
}

.add button:hover{
    text-decoration: none;
    color: purple;
}

.intro{
    position: relative;
    float: left;
    border-radius: 8px;
}

#box1{
    float: left;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
}

.intro h1{
    text-align: center;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(187, 118, 71);
}

.intro p{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 10px;
    
}

.addwork{
    font-size: 3pc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(187, 118, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3pc;
    height: 5px;
    margin: 4pc;
    margin-bottom: 3pc;
    padding: 15px 20px;
}

.plus{
    height: 5pc;
    padding: 0pc 4pc;
    margin-left: 55pc;
    border-radius: 10pc;
    display: block;
    color:rgb(187, 118, 71);
    font-size: 4pc;
    border-color: crimson;
}

.plus:hover{
    background-color: lightgreen;
}

.education{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: chocolate;
}

.globe{
    height: 20pc;
    margin-top: 1px;
    margin-left: 18px;
    margin-right: 2pc;
    width: 50%;
    border-radius: 3pc;
}

.edu_info{
  margin-top: -1px;
  width: 100%;
  margin-right: 15px;
}

.SocialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: chocolate;
}

.SocialMedia_info{
     margin-top: -1px;
     width: 100%;
     margin-right: 12px;
}
.plus2{
    height: 4pc;
    padding: 0pc 4pc;
    margin-left: 50pc;
    border-radius: 10pc;
    display: block;
    color:rgb(187, 118, 71);
    font-size: 3pc;
    border-color: crimson;
}
.addwork2{
    font-size: 3pc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(187, 118, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3pc;
    height: 5px;
    margin: 4pc;
    margin-bottom: 3pc;
    padding: 15px 20px;
}
.plus2:hover{
    background-color: lightgreen;
}