h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    
    text-align: left;
    font-size: 2cm;
    text-decoration: underline;
    background-color: white;
    
    
    }
    body{
    background-image:  url(image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    *{
        box-sizing: border-box;
    }
    .main{
        font-size: 0.6cm;
    font-family: Georgia, 'Times New Roman', Times, serif
    padding : 15px;
    color: whitesmoke;
    }
    button{
        font-size: 0.5cm;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border-radius: 15px;
        border: 15px 15px black;
        cursor: pointer;
    }
    input[type="text"],input[type="number"],input[type="email"],input[type="password"]{
        border: 15px 15px black;
        padding: 15px;
        border-radius: 10px;
        
    }